#
# Define options needed for engineering build
# The options need to be turned off for production release
#
CONFIG_LTT_LITE=y
CONFIG_DEBUG_SLAB=y
CONFIG_MMC_TST=y
CONFIG_EMU_UART_DEBUG=y
CONFIG_CORE_DUMP_PERMISSION=y
CONFIG_OMAP_WATCHDOG_CONTROL=y
CONFIG_NON_NESTED_FIQ=y
CONFIG_OMAP_WATCHDOG_FIQ=y
CONFIG_IPC_USBHOST_DBG=y
CONFIG_APANIC_MMC_MEMDUMP=y

# Below are commented out in mapphone_defconfig and added here since user build has the problem with memory map for bootloader
CONFIG_CGROUP_DEBUG=y
CONFIG_OMAP_LL_DEBUG_UART3=y
CONFIG_CPU_FREQ_STAT=y
CONFIG_PM_DEBUG=y
CONFIG_NETFILTER_DEBUG=y
CONFIG_NETFILTER_XT_MATCH_STATISTIC=y
CONFIG_DM_DEBUG=y
CONFIG_OMAP2_DSS_DEBUG_SUPPORT=y
CONFIG_FB_OMAP2_DEBUG_SUPPORT=y
CONFIG_DEBUG_FS=y
CONFIG_DEBUG_KERNEL=y
CONFIG_SCHED_DEBUG=y
CONFIG_DEBUG_MUTEXES=y
CONFIG_DEBUG_INFO=y
CONFIG_DEBUG_VM=y
